<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The pit game finished!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/webjars/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>
<body>

<div class="container">
    <h1>The pit game</h1>
    <h2>
        <span th:text="'Winner: ' + ${game.winner.name}"></span>
    </h2>
    <h3>Results:</h3>
    <div class="row">
        <div class="col">
            <span th:text="'Winning score:' + ${game.winnerScore}"></span>
        </div>
        <div class="col">
            <span th:text="'Losing score: ' + ${game.loserScore}"></span>
        </div>
    </div>
    <a href="/new-game" class="btn btn-outline-primary" role="button">New game</a>
</div>
<!-- /.container -->
<script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
